.header {
  height: 70px;
  background-color: #575b85;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;

}
.container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

